 <style>
   
   .hero-section{
  height: 500px;
  padding: 100px;
  justify-content: space-between;
  
}
.hero-section h1{
  font-size: 2rem;
  margin-bottom: 5rem;
}
.hero-section p{
  font-size: 1.3rem;
  margin-bottom: 3rem;
}


.hero-text{
  max-width: 550px;
  
}

.hero-section h1 {
  color: #333;
}

.hero-section p {
  color: #333;
}
.hero-section button {
  background-color: #ea661f;
  border:2px solid #ea661f ;
  border-radius: 1px;
  justify-content: center;
    width: auto;
    min-height: 45px;
    margin: 11px 0 0;
    padding: 8px 30px;
    color: #f0f0f0;
    font-size: 1.2rem;
    cursor: pointer;
}
.hero-section button:hover{
  background-color: #f0f0f0;
  color: black;

}
@media only screen and (max-width: 600px) {
  .hero-section img {
    width: 100%;
  }
}
 </style>
 
 <nav style=" box-shadow: 8px 8px 5px grey;" class="navbar fixed-top  navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="https://logo.clearbit.com/saletancy.com" width="30" height="30" alt="">
    </a>
    <a class="navbar-brand" href="#">saletancy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav justify-content-center">
        <li class="nav-item active">
          <a class="nav-link" href="#">Platform <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        
        <li class="nav-item" style="cursor: pointer;">
          <a class="nav-link " href="/users/login">Sign in</a>
        </li>
      </ul>
    
    </div>
  </nav>
  <div class="hero-section">
    <div class="container">
      <img style="float: right; " width="50%" height="50%" src="https://global-uploads.webflow.com/5d535261fdadab4f1229043e/5db97b55c63dc7664274ee34_Homepage%20Hero%20Image.svg" alt="">
      <div class="hero-text">
        <h1>Saletancy overview
        </h1>
        <p>Saletancy key facts like headquarters, number of employees, industry, estimated revenue, business model, presence & more.</p>
        
     <a href="/users/register"><button>Register Now</button></a>  
      </div>
    </div>
  </div>
    
  </div>
  
  
  


<!-- <div class="container">
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1><i class="fab fa-node-js fa-3x"></i></h1>
        <p>Create an account or login</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2"
          >Register</a
        >
        <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
      </div>
    </div>
  </div>
  
</div> -->
